<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация</title>
</head>
<body>
    <h1>Домашняя страница проекта neopicosBot</h1>
    <h3>Описание: </h3>
    <ul>
        <li><img src="static/images/QR_code.jpg"></li>
        <li>Бот предназначен для изучения английских слов</li>
        <li>В базе знаний на данный момент 50 слов</li>
        <li>Бот автоматически делает напомининие о повторении слов</li>
        <li>Создатель: <u>Скворцов М.С. ИВТ-41-16</u></li>
        <li>Email: skvortzov-mi@yandex.ru</li>
    </ul>
</body>
</html>